// Grid
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin: 12px;
    border:none;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.game-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
}

.peep{
    height: 95px;
    align-items: flex-end;
    div {
        img {
            display: flex;
            width: 80px;
            height: 83px;
        }
    }
    .comment {
        width: 500px;
        display: flex;
        align-items: center;
        background: #242424;
        border-radius: 12px;
        border: 1px solid #242424;
        color: lightgrey;
        box-sizing: border-box;
        padding: 15px 25px;
        &.correct {
            color: #6cffc7;
        }
        &.incorrect {
            color: #ff8c8c;
        }
    }
    .comment-dash {
        position: relative;
        width: 15px;
        height: 30px;
        border-radius: 0;
        background-image: url("../src/assets/images/character/comment-dash.png");
        background-repeat: no-repeat;
        background-position: bottom 10px left 0;
        background-size: contain;
        margin-left: 5px;
        right: -1px;
    }
}

.answer {
    display: flex;
    align-items: center;
    height: 32px;
    color: white;
}

.answer-item {
    padding: 8px 12px 8px 12px;
}

.correct {
    background-color: mediumspringgreen;
    color: #181818;
}

.incorrect {
    box-sizing: border-box;
    background-color: orangered;
    border: 2px solid orangered;
}

// Cards
div {
    display:flex;
    justify-content: center;
    border-radius: 18px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
 .flip-card:hover .flip-card-inner {
}

.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.not-flipped .flip-card-inner {
    transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    display: flex;
    align-items:center;
    color: #FAFAFA;
    background-color: black;
    img {
        width: 50px;
    }
}

.flip-card-back {
    background-color: #FAFAFA;
    transform: rotateY(180deg);
}

.game-complete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 945px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    top:220px;
    left:0;
}