.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 180px;
    }
}

.start-info-container {
    margin-top: 32px;
    display: flex;
    width: 860px;
}

.left, .right {
    display: flex;
    flex: 1;
    //align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
}

.right {
    //background-color: #242424;
    //color: white;
    border-radius: 0;
    justify-content: flex-start;
    align-items: flex-end;
    span {
        text-align: right;
    }
}

.left {
    align-items: flex-start;
}

.start-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #242424;
    color: white;
    border-radius: 0;
    box-sizing: border-box;
    padding: 32px;
    margin-top: 32px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-title {
    display: flex;
    flex-direction: row;
}

.sub {
    font-weight: bolder;
    display: flex;
    width: 50%;
    margin-bottom: 12px;
}

.score-item {
    width: 100%;
    span {
        width: 50%;
        margin: 12px 0;
    }
}

